aiohttp==3.8.1
beautifulsoup4==4.10.0
fastapi==0.74.1
fastapi_utils==0.2.1
mysql_connector_repackaged==0.3.1
nest_asyncio==1.5.4
python-decouple==3.6
requests==2.27.1
requests_html==0.10.0
SQLAlchemy==1.4.31
starlette==0.18.0
uvicorn==0.17.5