aiohttp                
aiosignal              
aniso8601              
anyio                  
appdirs                
asgiref                
async-timeout          
attrs                  
autopep8               
beautifulsoup4         
bs4                    
certifi                
charset-normalizer     
click                  
colorama               
cssselect              
dnspython              
email-validator        
fake-useragent         
fastapi                
fastapi-utils          
frozenlist             
greenlet               
h11                    
httptools              
idna                   
importlib-metadata     
itsdangerous           
Jinja2                 
lxml                   
MarkupSafe             
multidict              
mysql-connector-python 
mysqlclient            
nest-asyncio           
orjson                 
parse                  
pip                    
protobuf               
pycodestyle            
pydantic               
pyee                   
pyppeteer              
pyquery                
python-decouple        
python-dotenv          
python-multipart       
pytz                   
PyYAML                 
requests               
requests-html          
setuptools             
six                    
sniffio                
soupsieve              
SQLAlchemy             
starlette              
toml                   
tqdm                   
typing_extensions      
ujson                  
urllib3                
uvicorn                
w3lib                  
watchgod               
websockets             
Werkzeug               
yarl                   
zipp                   